<h1>
    <span class="purple">I</span>
    <span class="pink">T</span>
    <span class="purple">'</span>
    <span class="pink">S</span>
  </br>
    <span class="purple">Y</span>
    <span class="pink">O</span>
    <span class="purple">U</span>
    <span class="pink">R</span>
  </br>
    <span class="purple">B</span>
    <span class="pink">I</span>
    <span class="purple">R</span>
    <span class="pink">T</span>
    <span class="purple">H</span>
    <span class="pink">D</span>
    <span class="purple">A</span>
    <span class="pink">Y</span>
</h1>

<iframe width="820" height="615" src="//www.youtube.com/embed/zkocjjea5dY?autoplay=1" frameborder="0" allowfullscreen></iframe>

