<h1>Listing chinchillas</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @chinchillas.each do |chinchilla| %>
      <tr>
        <td><%= link_to 'Show', chinchilla %></td>
        <td><%= link_to 'Edit', edit_chinchilla_path(chinchilla) %></td>
        <td><%= link_to 'Destroy', chinchilla, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chinchilla', new_chinchilla_path %>
