<h1>Listing dust_baths</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dust_baths.each do |dust_bath| %>
      <tr>
        <td><%= link_to 'Show', dust_bath %></td>
        <td><%= link_to 'Edit', edit_dust_bath_path(dust_bath) %></td>
        <td><%= link_to 'Destroy', dust_bath, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dust bath', new_dust_bath_path %>
