<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap example challenge</title>
  </head>
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
      <a href="#" class="brand">Project Name</a>
        <ul class="nav">
          <li><a href="#"></a>Home</li>
          <li><a href="#"></a>ABout</li>
          <li><a href="#"></a>Contact</li>
          <li><a href="#"></a>Dropdown</li>
        </ul>
        <div class="login" class="nav">
          <form>
            <input type="text"/>
            <input type="text"/>
            <button class="btn btn-primary btn-large" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="hero-unit">
      <h1>Hello, World!</h1>
      <p>Hundreds of thousands a billion trillion lorem ipsum dolor sit amet cosmos as a patch of light at the edge of forever billions upon billions inconspicuous motes of rock and gas cosmic ocean stirred by starlight corpus callosum kindling the energy hidden in matter. Globular star cluster dispassionate extraterrestrial observer. Galaxies birth across the centuries, tingling of the spine. Courage of our questions? </p>
    </div>
    <button>Learn More</button>
    <div class="row">
      <div class="span4">
        <h2>heading</h2>
        <p>Vangelis made in the interiors of collapsing stars. Of brilliant syntheses culture gathered by gravity! Tingling of the spine Orion's sword rich in mystery tendrils of gossamer clouds light years a still more glorious dawn awaits.</p>
        <button href="#">View Details</button>
      </div>
      <div class="span4">
        <h2>heading</h2>
        <p>Vangelis made in the interiors of collapsing stars. Of brilliant syntheses culture gathered by gravity! Tingling of the spine Orion's sword rich in mystery tendrils of gossamer clouds light years a still more glorious dawn awaits.</p>
        <button href="#">View Details</button>
      </div>
      <div class="span4">
        <h2>heading</h2>
        <p>Vangelis made in the interiors of collapsing stars. Of brilliant syntheses culture gathered by gravity! Tingling of the spine Orion's sword rich in mystery tendrils of gossamer clouds light years a still more glorious dawn awaits.</p>
        <button href="#">View Details</button>
      </div>
      <footer>yayayayayayayay</footer>
    </div>
  </body>
</html>

#how to do the todo
1. write out content
2. download bootstrap and put the entire folder in your site. don't cherry pick
3. css.min is everything minified, without whitespace. used after the dev phase. in production you switch to minify file
4. do all custom stuff after you download bootstrap

absolute vs relative length
static grid uses absolute length 940px width
fluid grid uses relative measures width of 100%
whenever you use relative you are making something responsive.

.row, .container
vs.
.row-fluid,
.container-fluid

what's the best turotial for this stuff? 


